<div class="add">
  <app-add-todo *ngIf="open" [categories$]="categories$"></app-add-todo>
  <button mat-raised-button color="primary" (click)="openAdd()">Add Todo</button>
</div>
<div class="container">
      <mat-card *ngFor="let category of categories$ | async">
        <mat-card-title>{{category.title}}</mat-card-title>
        <mat-list>
          <mat-list-item  *ngFor="let todo of category.todos">
            <div class="todo">
                  <div class="todo-content">
                      <mat-icon mat-list-icon>today</mat-icon>
                      <span mat-line [ngClass]="{'isCompleted': todo.isCompleted === true}">
                        {{todo.text}}
                      </span>
                      <mat-checkbox
                        color="primary"
                        style="margin-left: 20px"
                        [checked]="todo.isCompleted"
                        (change)="changeTodoStatus($event)"
                        [value]="todo.id.toString()"
                      ></mat-checkbox>
                  </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
  </div>
