.container {
    display: flex;
    width: 99.9%;
    margin-top: 20px;
    justify-content: center;
    mat-card {
        width: 400px;
        .close {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
    }
}